ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* From exercise*/
p {
  color:red;
}

.note {
  font-size: 20px;
}

#id-selector-demo {
  color: green;
}

li[value="4"] {
  color: blue;
}

/*For my github page*/
* {
  text-align: center;
  background-color: pink;
}
h3{
    color: rgb(191, 15, 91);

}




